@page "/manage"

<h3>Manage</h3>

@* 
    COPILOT TODO:
    add a list of playlists with options to create, edit, and delete playlists
*@

@code {
    List<Playlist> Playlists = new();

    protected override async Task OnInitializedAsync()
    {
        Playlists = (await PlaylistService.GetAll()).ToList();
        await base.OnInitializedAsync();
    }
}
